* {
    font-family: 'Microsoft YaHei', "Noto Sans TC", sans-serif;
    font-weight: 300;
}

nav {
    margin-bottom: 1.4rem;
}


/* 標頭 */
#site_info_header {
    height: 6.4rem;
    width: 100% !important;
    color: white;
    background: #24A3B7;
    z-index: 1000;
}
/* 校徽 */
#logo_uch {
    position: absolute;
    top: 0.55rem;
    font-size: 4rem;
}
/* 系統名稱 */
#site_title {
    float: left;
    font-size: 2.6rem;
    padding-top: 1.3rem;
    padding-left: 4.5rem;
    white-space: nowrap;
}


/*=======================================*/
/*使用者服務資訊*/
/*=======================================*/

/* 區塊 */
#site_user_info {
    float: right;
    padding-top: 1.3rem;
}

#site_user_nameyou, #site_user_contact, #site_user_signout {
    float: left;
    width: 5rem;
    text-align: center;
    line-height: 1rem;
    text-overflow: ellipsis;
    overflow: hidden;
}
#site_user_contact, #site_user_signout {
    cursor: pointer;
}

/* 文字 */
#site_user_info span {
    white-space: nowrap;
    font-size: 0.9rem;
}
/* 圖示 */
#site_user_info svg {
    z-index: 10000000;
    display: block;
    margin: 2px auto;
    font-size: 2.6rem;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

    #site_user_info svg:hover {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }



/*=======================================*/
/* 選單區 */
/*=======================================*/

/* 選單帶 */
#scarf {
    padding-top: 0;
    padding-bottom: 0;
    background: #343A40;
    z-index: 1000;
}
/* 漢堡堡 */
.navbar-toggler {
    font-size: 1rem;
}
/* 選項字體顏色 */
.navbar-dark .navbar-nav .nav-link {
    color: white;
}
/* 選項間距 */
.nav-item {
    margin-right: 0.5rem;
}
/* 選項被選時的字體顏色 */
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover,
.dropdown-item:focus,
.dropdown-item:hover {
    color: #24A3B7;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #24A3B7;
    color: white;
}



/*=======================================*/
/*小螢幕時*/
/*=======================================*/

/* 在 md 時切換大小標題 */
@media (max-width: 767px) {
    #site_title {
        display: none;
    }
}

@media (min-width: 768px) {
    .navbar-brand {
        display: none;
    }
}

@media (max-width: 767px) and (min-width: 576px) {
    #site_info_header .container {
        padding-left: 0;
    }
}

@media (max-width: 767px) {
    #site_info_header .container {
        padding-right: 0;
    }
}
/*縮小標頭元素*/
@media (max-width: 65rem) {
    #site_info_header {
        height: 4.5rem;
        font-weight: 100;
    }

    #logo_uch {
        top: 0;
        font-size: 3.5rem;
    }

    #site_title {
        font-size: 1.7rem;
        padding-top: 1.1rem;
    }

    #site_user_info {
        padding-top: 0.6rem;
    }

        #site_user_info svg {
            font-size: 2.2rem;
        }
}
